.search-bar {
    border: lightgray solid 1px;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.search-bar form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 4px;
}